<%- include('../partials/header.ejs') %>

<main class="container" data-title="<%= title %>">
    <h1><%= global.dictionary.pages.posts %></h1>

    <section>
        <a href="/posts/new" class="link"><%= global.dictionary.navigation.addNewPost %></a>
    </section>
</main>
