<header>
    <nav class="container">
        <ul class="navigation">
            <li><a href="/"><%= global.dictionary.navigation.home %></a></li>
            <li><a href="/posts"><%= global.dictionary.navigation.posts %></a></li>
        </ul>
    </nav>
</header>